{% extends 'base.html' %}

{% block content %}
    <h1 class="text-dark">Todo List</h1>
    <table class="table">
        <tbody>
            <tr>
                <form action="/" method="post">
                    <td><input type="text" name="task" placeholder="task"></td>
                    <td><input type="submit" name="submit"></td>
                </form>
            </tr>
            {% for todo in todos %}
            <tr>
                <td class="p-2">
                    {{ todo[1] }}
                </td>
                <td class="p-2">
                    <input type="checkbox" name="{{ todo[0] }}" {% if todo[2] %} checked {% endif %}>
                </td>
                <td>
                    <a href="{{ url_for('update', id=todo[0]) }}">update</a>
                </td>
                <td>
                    <a href="{{ url_for('update', id=todo[0]) }}">update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
